*.vscode
*__pycache__
*/workspace/*/*_out
*.zip
*/build/**/basic_pb2*.py
ssd-mobilenet
loadgen/build/c_loadgen/build
*libmlperf_loadgen.a
__pycache__/
generated/
*.npy
*.png
*.jpg
loadgen/build/c_loadgen/cppimp/build
*.a
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

